<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/semantic/semantic.min.css">
    <style>

    </style>
    <title>Document</title>
</head>

<body>
    <style>
        .clicker:hover {
            cursor: pointer;
            padding: 2px;
        }
    </style>
    <div id="userDateDiv" hidden><%= date %></div>
    <div class="ui form countdown">
        <div class="field">
            <table class="ui  teal table" style="text-align:center;height: 89%">
                <thead>
                    <tr>
                        <th style="color:purple" colspan="5"><img src="assets/img/countrobo.png"
                                class="ui mini rounded centered image"></img></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="fakeloader" colspan="5" hidden>
                            <div id="DateDiv"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="fakeloader" colspan="5" hidden>
                            <div id="countDiv" style="color:rgb(223, 71, 71)"></div>
                        </td>

                    </tr>
                    <tr>
                        <td class="fakeloader" hidden>

                            <img alt="Add to Slack"
                                onclick="window.open(`https://slack.com/oauth/authorize?client_id=451282573524.600701102769&scope=bot,channels:history,im:history`)"
                                src="assets/img/slack.png" class="ui mini rounded centered clicker image">
                        </td>
                        <td class="fakeloader" hidden>
                            <img onclick="window.open(`https://join.skype.com/bot/e07d7172-d2b5-4019-9f5f-bdfd09c5a5ba`)"
                                alt="Add to Skype" src="assets/img/skype.png"
                                class="ui mini rounded centered clicker image">

                        </td>
                        <td class="fakeloader" hidden>
                            <img onclick="window.open(`https://teams.microsoft.com/l/chat/0/0?users=28:e07d7172-d2b5-4019-9f5f-bdfd09c5a5ba`)"
                                alt="Add to Teams" src="assets/img/teams.jpg"
                                class="ui mini rounded centered clicker image">

                        </td>
                        <td class="fakeloader" hidden>
                            <img onclick="window.open(`https://www.facebook.com/CountBot-2094879604144712`)" alt="Facebook Page"
                                src="assets/img/wtf.png" class="ui mini rounded centered clicker image">

                        </td>
                        <td class="fakeloader" hidden>
                                <img onclick="window.open(`https://www.messenger.com/t/2094879604144712`)" alt="Speak on Messenger"
                                    src="assets/img/messenger.png" class="ui mini rounded centered clicker image">
    
                            </td>
                    </tr>
                    <tr>
                        <td class="fakeloader" colspan="5">
                            <audio id="audioPlayer"
                                src="https://s3.eu-west-3.amazonaws.com/staticprowd/sounds/jjjff-019.mp3"
                                controls="controls" ></audio>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>


    <div id="hiddenDiv" hidden></div>
</body>

</html>
<script src="https://code.jquery.com/jquery-3.4.0.min.js"
    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
<script src="https://2gl2bug4fj.execute-api.eu-west-3.amazonaws.com/latest/assets/js/moment.js"></script>
<script src="https://2gl2bug4fj.execute-api.eu-west-3.amazonaws.com/latest/assets/semantic/semantic.min.js"></script>
<script src="https://2gl2bug4fj.execute-api.eu-west-3.amazonaws.com/latest/assets/js/embeddedcd.js"></script>
